body, footer {
    
    max-width: 100%;
    text-align: center;
    background-color: #DFFDFF;
}


h1, h2, h3, h4, p {
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

p {
    max-width: auto;
}


.header-container {
    border-radius: 15px;
    margin: auto;
    background-color: #90BEDE;
    color: white;
}

.content-container {
    border-radius: 15px;
    max-width: 420px;
    margin: auto;
    background-color: #E5E1EE;
    border: 2px solid #68EDC6;
    padding: 0px 15px 15px 15px;
}

.first-topic .second-topic .third-topic {
    display: grid;
    justify-content: space-evenly;
}

.design-topic {
    background-color: #C7EFCF;
    margin: auto;
    max-width: 340px;
    padding: 1px;
    border-radius: 20px;
    border: 2px solid #68EDC6;
}

a {
    border: 2px solid #68EDC6;
    margin: 15px;
    padding: 15px;
    background-color: #68EDC6;
    color: white;
    border-radius: 15px;
}

#org-img img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 240px;
    height: 540px;
}

#org-img {
    background-color: #90F3FF;
    padding: 1em;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#org-description {
    display: block;
    block-size: 260px;
    padding: 1em;
    background-color: #68EDC6;    
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

