body {
    text-align: center;
}

main div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

main section {
    background-color: rgb(195, 180, 235);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 1rem;
    padding: 1rem 0;
}

main div img {
    box-shadow: 5px 10px 18px #888888;
}