:root {
  --main-color: #44bba4;
  --bg: #393e4a;
  --border: 1rem solid rgba(255, 255, 255, 0.3);
  --content: #e7e5df;
}

h1,
h2,
h3 {
  font-family: "Libre Baskerville", serif;
}

header,
nav,
footer {
  font-family: "Open Sans", sans-serif;
}

p {
  font-family: "PT Serif", serif;
}

body {
  background-color: var(--bg);
  min-height: 100vh;
}

header {
  color: var(--content);
  display: flex;
  justify-content: space-between;
  border-bottom: var(--border);
  padding: 1rem 0.2rem;
  font-size: 0.8rem;
}

header img {
  height: 4rem;
  background: #e7e5df;
  border-radius: 15px;
}

header #image-date {
  font-size: 0.8rem;
  text-align: center;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.7rem;
}

h3 {
  font-size: 1.5rem;
}

header h1 {
  width: 100%;

  text-align: center;
  padding: 0 0.5rem;
}

header h3 {
  text-align: right;
  margin: 1rem 0.5rem 0 0;
}

h3#banner {
  text-align: center;
  color: whitesmoke;
  text-decoration: underline;
  padding: 1.2rem;
  margin: 0.8rem;
}

.date {
  font-size: 2vh;
}

nav {
  background-color: var(--content);
}

nav button {
  background: transparent;
  border: none;
  font-size: 2rem;
  color: rgb(63, 62, 62);
}

nav ul#nav-list {
  /*------------------------
  removing the bullet points for the items 
  ------------------------*/
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li a {
  /*------------------------
   when displayed as block the a alementes
     cover all the space and can be clicked anywhere 
     ------------------------*/
  display: block;
  padding: 0.8rem 2vw;
  /* removing the underline for the anchor */
  text-decoration: none;
  color: rgb(63, 62, 62);
}

/*------------------------
 the li.active calls the class active in the list 
 ------------------------*/
nav ul li.active a {
  /*------------------------
  creting a hover with a darker shade 
  ------------------------*/
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
}

/*------------------------
 if the active were to be after the hover, it affects how the page reacts 
 ------------------------*/

nav ul li a:hover {
  background-color: #43b9a1c7;
  font-size: 1.05rem;
}

nav ul {
  display: none;
}
nav ul.open {
  display: block;
}

#burger-btn span:nth-child(1) {
  display: block;
}
#burger-btn span:nth-child(2) {
  display: none;
}

#burger-btn.open span:nth-child(1) {
  display: none;
}
#burger-btn.open span:nth-child(2) {
  display: block;
}

main {
  padding: 2rem;
  background-color: var(--content);
  height: 80%;
}

main div {
  border: 1px solid var(--bg);
}

main div {
  margin: 1.2rem;
  padding: 1rem;
  background-color: whitesmoke;
  width: 80%;
  border-radius: 5px;
}

.main .hero picture.hero-img {
  height: 50%;
}

.hero picture.hero-img img {
  width: 100%;
}

.main div.news span {
  float: left;
  font-size: 9rem;
}

.main div.events span {
  float: right;
  font-size: 9rem;
}

.main div.weather {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 20% 30% 50%;
}

.main div.weather h2 {
  grid-column: 1/-1;
  grid-row: 1/2;
}

.main div.weather span#cloud {
  grid-column: 1/2;
  grid-row: 2/3;
  float: left;
  font-size: 9rem;
}

.main div.weather span#temp-c {
  font-size: 3rem;
  grid-column: 2/3;
  grid-row: 2/3;
  text-align: center;
}

.main div.weather div#windchill {
  grid-column: 1/-1;
  grid-row: 3/4;
  display: flex;
  flex-direction: column;
  padding-right: 0;
  height: 80%;
  font-size: 2rem;
}

.main div.spotlights {
  padding-bottom: 5rem;
}

.main div.spotlights img#img-spot-1 {
  float: right;
  height: 12rem;
  margin-left: 3rem;
}

.main div.spotlights img#img-spot-2 {
  float: left;
  height: 12rem;
  margin-right: 3rem;
}

footer {
  margin-top: auto;
  margin: 2rem;
  display: flex;
  justify-content: space-between;
  color: var(--content);
  font-size: 0.7rem;
}

footer img {
  height: 6rem;
  cursor: pointer;
  background-color: var(--content);
  border-radius: 15px;
}

footer ul {
  list-style-type: none;
  border-top: 1px solid var(--content);
}

footer a {
  text-decoration: none;
  color: white;
}

/*------------------------ styles for the discovery page ------------------------*/

main.discovery div.the-grid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto;
  border: none;
  background-color: var(--content);
}

main.discovery div.the-grid div#demographics {
  grid-row: 1/2;
}

main.discovery div.the-grid section {
  grid-row: 2/3;
}

main.discovery #h2-discovery {
  font-size: 3rem;
  text-align: center;
}

section.image-description p {
  text-align: center;
}

section.image-description picture img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border-radius: 5px;
}

section.image-description picture img:hover {
  box-shadow: 10px 10px 20px 2px var(--main-color);
}

/*--------------------- Start Join ---------------------*/
main.join div.the-form {
}

main.join select,
main.join option,
main.join input,
main.join label,
main.join button {
  padding: 0.2rem 1rem;
  font-size: 1.2rem;
  color: inherit;
}

form fieldset {
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
}

form legend {
  color: black;
  margin: 0 1rem;
  padding: 0 0.5rem;
}

form label.top,
form div {
  display: block;
  padding-top: 1rem;
  color: #9c2c13;
  font-size: 0.8rem;
}

form label.top input,
form label.top select {
  -webkit-appearance: none;
  display: block;
  font-size: 1rem;
  border: solid 1px #999;
  border-radius: 4px;
  padding: 0.75rem;
  color: #555;
  width: 100%;
  max-width: 20rem;
  background-color: rgba(0, 0, 0, 0.1);
}

form label.sbs {
  display: block;
  padding: 0.75rem 0;
  color: #555;
}

form input.submitBtn {
  border: none;
  background-color: #9c2c13;
  color: white;
  border-radius: 1rem;
  padding: 0.75rem 1.5rem;
  margin: 0 0 2rem 2%;
  width: 96%;
  max-width: 20rem;
}

form label.top input:required {
  border-left: red solid 6px;
}

form label.top input:required:valid {
  border-left: green solid 6px;
}

/*--------------------- End Join ---------------------*/
