:root {
    --main-color: #44bba4;
    --bg: #393e4a;
    --border: 1rem solid rgba(255,255,255,.3);
    --content: #e7e5df;
}

@media only screen and (min-width: 64rem) {
    header h1 {
        max-width: fit-content;
        padding-right: 2rem;
    }

    nav button {
        display: none;
    }

    nav ul {
        display: flex;
        justify-content: flex-end;
        margin-left: 2vw;
        border-left: 1px solid rgba(0, 0, 0, 0.3);
    }

    nav ul li a {
        border-right: 3px solid rgba(255,255,255,.3);
    }

    .main {
        display: grid;
        align-items: center;
        padding: 3rem;
        grid-template-columns: repeat(4, 25%);
        grid-template-rows: repeat(4, 25%);
    }
    
    .hero {
        grid-column: 2 / 4;
        grid-row: 1 / 3;
    }
    
    .news {
        grid-column: 2 / 4;
        grid-row: 3 / 5;
    }
    
    .events {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
    }
    
    .weather {
        grid-column: 4 / 5;
        grid-row: 1 / 3;
    }
    
    .join {
        grid-column: 1 / 2;
        grid-row: 3 / 5;
    }
    
    .spotlights {
        grid-column: 4 / 5;
        grid-row: 3 / 5 ;
        margin-top: 2rem;
    }

    .main div.spotlights {
        padding: 1rem;
        display: block        
    }

    .main div.spotlights img#img-spot-1 {
        float: right;
        height: 10rem;
        margin-left: 1rem;
    }
    
    .main div.spotlights img#img-spot-2 {
        float: left;
        height: 10rem;
        margin-right: 1rem;
    }

    .main div.join {
        display: flex;
        flex-direction: column;
        height: 95%;
    }

    .main div.join img {
        height: 60%;
    }

    footer {
        display: flex;
        justify-content: space-evenly;
    }

    footer ul {
        display: flex;
        justify-content: space-between;
        text-align: center;
        color: var(--content);
        font-size: 1rem;
        width: 100%;
        border: none;
    }   

    footer ul li {
        padding: 0 1.5rem;
        border-left: 1px solid white;
    }

    
    footer img {
        height: 4rem;
        cursor: pointer;
        background-color: var(--content);        
    }
    
    footer a {
        text-decoration: none;
        color: white;
    }
}