:root {
  --main-color: #44bba4;
  --bg: #393e4a;
  --border: 1rem solid rgba(255, 255, 255, 0.3);
  --content: #e7e5df;
}

@media only screen and (min-width: 64rem) {
  header h1 {
    max-width: fit-content;
    padding-right: 2rem;
  }

  nav button {
    display: none;
  }

  nav ul {
    display: flex;
    justify-content: flex-end;
    margin-left: 2vw;
    border-left: 1px solid rgba(0, 0, 0, 0.3);
  }

  nav ul li a {
    border-right: 3px solid rgba(255, 255, 255, 0.3);
  }

  main.main {
    display: flex;
    justify-content: space-between;
  }

  div.firstColumn, div.secondColumn, div.thirdColumn {
    justify-content: space-between;

  }

  main.main div.firstColumn {
    display: flex;
    flex-direction: column;
  }

  main.main div.secondColumn {
    display: flex;
    flex-direction: column;
    flex-basis: 200rem;    
    align-items: center;
    
  }

  main.main div.thirdColumn {
    display: flex;
    flex-direction: column;        
  }

  .main div.spotlights {
    padding: 1rem;
    display: block;
  }

  .main div.weather span#cloud i {
    display: block;
    padding-bottom: 2rem;
    height: fit-content;
  }

  .main div.weather div#windchill {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .main div.spotlights img#img-spot1 {
    float: right;
    height: 8rem;
    margin-left: 1rem;
  }

  .main div.spotlights img#img-spot2 {
    float: left;
    height: 8rem;
    margin-right: 1rem;
  }

  .main div.join {
    display: flex;
    flex-direction: column;
    height: fit-content;
  }



  footer {
    display: flex;
    justify-content: space-evenly;
  }

  footer ul {
    display: flex;
    justify-content: space-between;
    text-align: center;
    color: var(--content);
    font-size: 1rem;
    width: 100%;
    border: none;
  }

  footer ul li {
    padding: 0 1.5rem;
    border-left: 1px solid white;
  }

  footer img {
    height: 4rem;
    cursor: pointer;
    background-color: var(--content);
  }

  footer a {
    text-decoration: none;
    color: white;
  }

  /*/*------------------------------ Start of the discover code /*------------------------------*/
  main.discovery div.cuidad {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
  main.discovery div.the-grid {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

  /*------------------------------ form Start ------------------------------*/

  form label.sbs {
    padding: 0.4rem 0;
  }

  main.join {
    display: flex;
  }

  /*------------------------------ form End ------------------------------*/

  /*----------------------------------- Directory Code -----------------------------------*/

  main.directory div.list section {
    display: flex;
    flex-direction: row;
  }


  /*----------------------------------- Directory Code -----------------------------------*/
}
