:root {
    --main-color: #44bba4;
    --bg: #393e4a;
    --border: 1rem solid rgba(255,255,255,.3);
    --content: #e7e5df;
}

@media only screen and (min-width: 35rem) {
    

    .main {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: repeat(5, 20%);
        grid-gap: 10px;
        margin: 0;        
        align-content: center;
    }

    .hero {
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        
    }

    .news {
        grid-column: 1 / -1;
        grid-row: 2 / 3;
    }

    .spotlights {
        grid-column: 1 / -1;
        grid-row: 3 / 4;
        
    }

    .join {
        grid-column: 1 / -1;
        grid-row: 4 / 5;
        margin: 7% 0;
    }

    .events {
        grid-column: 1 / 2;
        grid-row: 5 / 6;
    }

    .weather {
        grid-column: 2 / 3;
        grid-row: 5 / 6;
    }

    footer ul {
        text-align: right;
        font-size: 1rem;
        border: none;
        border-left: 1px solid white;
    }

    .main div {
        padding: 2% 5% 0 5%;
        height: 90%;
    }

    main .hero {
        text-align: center;
    }

    main.hero picture {
        width: 50%;
        float: top;
    }

    main .hero picture.hero-img img {
        width: 60%;
        
        margin: 1rem 3rem 3rem 1rem;
    }

    main div.news span {
        float: left;
        font-size: 13rem;
        margin-right: 3rem;
    }

    .main div.spotlights {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 25% 25% 25% 25%;
        gap: 5px;
    }

    .main div.spotlights h3.spot-1 {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .main div.spotlights p.spot-1 {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .main div.spotlights h3.spot-2 {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .main div.spotlights p.spot-2 {
        grid-column: 1/2;
        grid-row: 4/5;
    }

    .main div.spotlights img#img-spot-1 {
        grid-column: 2/3;
        grid-row: 1/3;
        height: 100%;
        margin-left: 3rem;
    }
    
    .main div.spotlights img#img-spot-2 {
        grid-column: 2/3;
        grid-row: 3/5;        
        height: 100%;
        margin-left: 3rem;
    }

    .main div.join {
        display: flex;
        margin-left: 1.2rem;
        height: 70%;
    }

    .main div.events, .main div.weather {
        height: 70%;
    }

    .main div.weather {
        margin-left: 0;
        padding-right: 0;
    }
}