/*
clors for the site
44bba4
e7e5df
d3docb
393e4a
*/

body {
    background-color: #393e4a;
    list-style-position: inside;
    width: 80%;
    margin: 0 auto;
}

header, main, footer {
    margin: auto;
}

main {
    background-color: #e7e5df;
    padding-left: 15px;
}

header, footer {
    background-color: #44bba4;
    text-align: center;
    margin: auto;
}

table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
}

main {
    padding: 10px;
}


th, td {
    padding: 10px;
}

header {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

nav {
    font-size: 14px;
}

footer {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

h1, h2, h3 {
    font-family: 'Libre Baskerville', serif;
}

h1 {
    font-size: 18px;
}

h2 {
    font-size: 17px;
}

h3 {
    font-size: 16px;
}

p {
    font-family: 'PT Serif', serif;
    font-size: 14px;
}

img {
    width: max-content;
    height: max-content;
}

.logo {
    border-radius: 30px;
}