:root {
    --main-color: #44bba4;
    --bg: #393e4a;
    --border: 1rem solid rgba(255,255,255,.3);
    --content: #e7e5df;
}

header nav {
    color: var(--content);
    border-bottom: var(--border);
    padding: 1rem 0.2rem;
    font-size: .8rem;
}

.nav-bar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.nav-bar a {
    text-decoration: none;
    color: white;
}

a img.logo {
    height: 5rem;
    background-color: var(--content);
    border-radius: 45px;
    margin-right: 1rem;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: .5rem;
}

#toggler, .nav-bar label {
    display: none;
}

main {
    background-color: var(--content);
}

h1, h2, h3 {
    font-family: 'Libre Baskerville', serif;
}

header, nav, footer {
    font-family: 'Open Sans', sans-serif;
}

p {
    font-family: 'PT Serif', serif;
}

body {
    background-color: var(--bg);
}

footer {
    display: flex;
    justify-content: space-between;
    color: white;
}

footer a {
    text-decoration: none;
    color: white;
}

footer img {
    height: 4rem;
}