:root {
    --main-color: #44bba4;
    --bg: #393e4a;
    --border: 1rem solid rgba(255,255,255,.3);
    --content: #e7e5df;
}

@media only screen and (min-width: 64rem) {
    nav {
        border-bottom: var(--border);
    }

    nav ul li a {
        padding: 0.8rem 1.3rem;
    }

    .main {
        display: grid;
        align-items: center;
        padding: 3rem;
        grid-template-columns: repeat(4, 25%);
        grid-template-rows: repeat(4, 25%);
        grid-gap: 10px;
    }
    
    .hero {
        grid-column: 2 / 4;
        grid-row: 1 / 3;
    }
    
    .news {
        grid-column: 2 / 4;
        grid-row: 3 / 4;
    }
    
    .events {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
    }
    
    .weather {
        grid-column: 4 / 5;
        grid-row: 1 / 2;
    }
    
    .join {
        grid-column: 1 / 2;
        grid-row: 3 / 5;
    }
    
    .spotlights {
        grid-column: 4 / 5;
        grid-row: 2 / 5 ;
        margin-top: 2rem;
    }

    footer {
        margin: 2rem;
        display: flex;
        justify-content: space-between;
        color: var(--content);
        font-size: 1.5rem;
    }
    
    footer div#img-contact {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    footer img {
        height: 4rem;
        cursor: pointer;
        background-color: var(--content);
        border-radius: 45px;
    }
    
    footer a {
        text-decoration: none;
        color: white;
    }
}